# Cloudflare Deployment & API Configuration
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here
CLOUDFLARE_ZONE_ID=465d5b09f92a17a6ed4e92d33c98bc17

# Cloudflare D1 Database Settings
D1_DATABASE_NAME=behdoon_db
D1_DATABASE_ID=553f417c-4154-48c5-8bf7-04920092ac05

# Domain & Site Origin
SITE_ORIGIN=https://behdoon.ir
